/* Add a black background color to the top navigation */
.navbar {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Style the links inside the navigation bar */
.navbar a{
  /* don't know how to change the text colour!! :'( */
  padding: 14px 16px;
  /* text-decoration: none; */
  font-size: 20px;

}

.band_header{
  /* display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; */
  min-height:100vh;
  width:100vw;
  border: 1px;
  color: red;
  background-image: url('images/747.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.about {
  list-style: none;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

body {
  background-image: url('images/background.png');
}


img {
  display:flex;
  padding:20px;
  margin:0 auto;
  border-radius:130px;
  max-width: 200px;
  border: 1px;
  flex-direction:row;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.text-center {
  color: white;
}

.display-4 {
  color: white;
}

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
  text-align: center;
  color: white;
}

/* this doesn't really work soz */

ul.social-icons li {
display:inline-block;
}
